// Define variables for your color scheme
@function randomColor1() {
  $hue: random(224)-1;
  @return hsl($hue, 75, 75);
}

@function randomColor2() {
  $hue: random(224)-1;
  @return hsl($hue, 75, 75);
}

// For example:
// $blue: blue;
$black: #2d2d2d;
$white: #eeeeee;
// $green: #DCEF8F;
// $salmon: #EFC98F;
$color: #A38FEF;
