.home-container {
  margin: 0 auto;
}

.home-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: solid 4px $blue;
}

.baseline {
  padding: 0em 6em;

}

.contact {
  padding: 0em 6em;

    h1 {

      a {
        font-size: 1em;
        color: $blue;

        &:hover {
          border-bottom: solid 4px $blue;
        }
      }
    }
}

.p5-canva {
  z-index: -100;
  width: 99vw;
  height: 70vh;
}

.home-projects {
  padding: 0em 6em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60vh;
}

.projects-list {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  padding-right: 2em;
  border-right: solid 1px $blue;

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    overflow: scroll;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    .title {
      display: flex;
      justify-content: space-between;
      //column-gap: 1em;
      cursor: pointer;

      h3 {
        z-index: -1000;

        &.arrow {
          display: none;
        }
      }

      &.active {
        border-bottom: solid 2px $white;

        h3 {

          &.arrow {
            display: inline-block;
          }
        }

      }
    }
  }
}

.projects-features {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  padding-left: 2em;

  .features {
    display: none;

    &.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2em;
    overflow: scroll;
    height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .photos {
      display: flex;
      flex-direction: column;
      row-gap: 1em;

      .photo {

        img{
          width: 100%;
        }
      }
    }

    .tags {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1em;
      column-gap: 1em;
    }
  }
}
