.navbar {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  padding: 0.65em 2em;
  border-bottom: solid 4px $blue;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
}
