// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1 {
  font-size: 4.5em;
  font-family: "VG 5000";

  .colored {
    color:$color
  }

  &.colored {
    color: $color
  }
}

h2 {
  font-size: 3em;
}

h3 {
  // font-family: "VG 5000";
  font-size: 2.5em;

  .small {
  font-size: 0.3em;
  }
}

h4 {
  font-size: 2em;
}

p {
  font-size: 3em;

  .colored {
    color: $color;

    &.credible {
      font-family: Credible;
    }
  }

  &.colored {
    font-weight: 800;
  }
}

a {
  font-size: 1.2em;
  text-decoration: none;

  &:hover {
    color: $color;
  }

  i {
    font-size: 1.5em;

    &:hover {
      color: $color;
    }
  }
}

.hero-home {
  background-color: $black;
  color: $white;

  a {
    color: $white;
  }

  &.day-mode {
    background-color: $white;
    color: $black;

    a {
      color: $black;
    }

    .navbar {
      border-color: $black;
    }

    .baseline {
      border-color: $black;
    }

    .list {
      .title {
        &.active {
          border-bottom: solid 2px $black;

          h3 {
            color: $color;

            &.arrow {
              display: inline-block;
              color: $black;
            }
          }

        }
      }
    }

    .tag {
      border-color: $black;
    }

    .contact {

      h1 {

        a {
          font-size: 1em;

          &:hover {
            border-bottom: solid 4px $black;
          }
        }
      }
    }

  }
}

.hero-dashboard {
  background-color: $black;
  color: $white;

  a {
      color: $white;
  }
}

.container {
  margin: 0 auto;
}

.page-padding {
  padding: 4em 4em;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2em 0em;
  border-bottom: solid 4px $white;
}

.section-title {
  display: flex;
  column-gap: 2em;
  align-items: center;
}
