// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  font-size: 4.5em;

  .colored {
    color: $blue;
  }

  &.colored {
    color: $blue;
  }
}

h2 {
  font-size: 3.75em;
}

h3 {
  font-size: 3em;

  .small {
  font-size: 0.3em;
  }
}

h4 {
  font-size: 2.25em;
}

p {
  font-size: 1.2em;
}

a {
  font-size: 1.2em;
  text-decoration: none;
  color: $white;

  &:hover {
    color: $blue;
  }

  i {
    font-size: 1.5em;
  }
}

.container {
  margin: 0 auto;
}

.page-padding {
  padding: 4em 4em;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2em 0em;
  border-bottom: solid 4px $blue;
}

.section-title {
  display: flex;
  column-gap: 2em;
  align-items: center;
}
